
.header .icon {
    width: 70px;
    height: 70px;
    float: left;
    margin-top: -5px;
    margin-right: 5px;;
  }
  
  .header {
    margin: 0 auto;
  }
  
  .routLink {
    text-decoration: none;
  }

  .header h1 {
    color: rgb(70, 36, 36);
  }

  .actionItem {
    background-color: rgb(247, 249, 247);
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .item {
    text-align: center;
    padding: 0 20px;
  }

  .fa {
    background-color: white;
    text-decoration: none;
    font-size: 3em;
    border: 3px solid rgb(125, 123, 123);
    border-radius: 50%;    
  }

  .fa-line {
    color: #06c755;
    padding: 20px;
  }

  .fa-instagram {
    color: rgb(217, 70, 247);
    padding: 20px 23px;
  }

  .fa-location-dot {
    color: red;
    padding: 20px 27px;
  }

  .messege {
    background-color: rgb(247, 249, 247);
    width: fit-content;
    margin: 0 auto;
  }

  .messege ul {
    line-height: 2em;
  }

  .txt-title {
    text-align: center;
  }

