
.icon {
  width: 70px;
  height: 70px;
  margin-top: -5px;
  margin-right: 5px;;
}

.header {
  margin: 0 auto;
  display: flex;
}


.header h1 {
  color: rgb(70, 36, 36);
  margin-top: 0;
}

.menu-container {
  background-color: rgb(247, 249, 247);
  height: 85px;
  text-align: center;
  padding: 20px 5px;
  margin-bottom: 5px;
}

.button {
  text-decoration: none;
  margin: 0 30px;
}

.btn-img {
  border-radius: 50%;
}


.concept {
  position: relative;
}

.images {
  padding: 20px 0;
  text-align: center;
  background-color: rgb(247, 249, 247);
  display: flex;
}

.detile {
  display: inline-block;
  width: 75%;
}

.top {
  width: 50%;
  text-align: center;
}

.img {
  min-width: 90%;
  width: 90%;
  margin-top: 10px;
}

.texts {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  position: absolute;
  top: 25px;
  left: 10px;
}

.txt {
  text-align: justify;
  text-justify: inter-ideograph;
}

.text {
  width: 30%;
}

.txt-title {
  color: #00BF63;
  text-align: center;
  font-size: 2vw;
  text-shadow: 3px 2px 3px #cdcaca;
  padding-bottom: 10px;
}

.tm-1,.tm-2 {
  width: 75%;
}

.txt-main {
  color: #545454;
  font-size: 1.2vw;
}

footer {
  text-align: center;
  color: rgb(70, 36, 36);
  font-size: 15px;
}



