@media all and (max-width: 660px) {
    main {
        margin-top: -70px;
    }

    h2 {
        font-size: 18px;
    }

    main {
        margin-bottom: 30px;
        font-size: 10px;
    }

    /*table*/
    /*face*/
    #face {
        height: 550px;
    }

    .face_plices {
        padding-top: 30px;
    }

    .fp-tables table {
        width: 40vw;
    }

    .fp_table_1 {
        margin-right: 20px;
    }

    .table_revi {
        padding-top: 30px;
    }

    .revi_info {
        color: rgb(85, 37, 27);
        margin-top: 70px;
        margin-left: -120px;
        width: 80vw;
    }

    .revi_info a{
        color: blue;
    }

    /*body*/
    #body {
        height: 320px;
    }

    .body_plices {
        margin: 0;
        padding-top: 30px;
    }

    .bp_tables table{
        width: 40vw;
    }

    .bp_table_1 {
        margin-right: 20px;
    }


}